<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.incampusit.ottstreaming">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:roundIcon"
        tools:targetApi="n">
        <!-- This meta-data tag is required to use Google Apps Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1072037981830297~8957153928" />
        <meta-data
            android:name="instamojo.orderauth.url"
            android:value="https://incampus.co.in/ottapi/access_token.php" /> <!-- &lt;!&ndash; Add your API key here &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.razorpay.ApiKey" -->
        <!-- android:value="rzp_live_IEZg8qb41ELHfZ" -->
        <!-- /> -->
        <!-- <activity -->
        <!-- android:name=".SimpleExoPlayerActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MyWalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SubcriptionActivity" />
        <activity
            android:name=".PictureInPictureActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActivityVideoDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActivityForgot"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActivityPrivacy"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActivityAboutUs"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActivityComment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".ActivitySignUp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivitySignIn"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.incampusit.serverlocal.NoPipServerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />
        <activity
            android:name="com.incampusit.serverlocal.PipServerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.incampusit.youtube.YoutubePlay"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" /> <!-- Daily Motion Play -->
        <activity
            android:name="com.incampusit.dailymotion.DailyMotionPlay"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.incampusit.dailymotion.DailyMotionPlayNoPip"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar" /> <!-- vimeo play activity -->
        <activity
            android:name="com.incampusit.vimeo.Vimeo"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.incampusit.vimeo.VimeoNoPip"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar" /> <!-- analytic -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" /> <!-- analytic -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="FFff0083" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.incampusit.ottstreaming.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EmbedActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".NotificationDetailsActivity" />
    </application>

</manifest>